@* @model IEnumerable<WebForum.Models.Topic> *@
@model WebForum.ViewModels.PaginatedList<WebForum.Models.Topic>

@{
    ViewData["Title"] = "Topics";
}

<h1>Topics</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["SearchString"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Reset</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Posts
            </th>
            <th>
                Last post
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @item.Title
                    </a>
                </td>
                <td>
                    @item.Posts.First().Author.Login
                </td>
                <td>
                    @item.Posts.Count
                </td>
                <td>
                    @item.Posts.Last().DateTime
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

Page @Model.PageIndex of @Model.TotalPages
<br/>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-searchString="@ViewData["SearchString"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-searchString="@ViewData["SearchString"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>
