@model IEnumerable<WebForum.Models.Topic>

@{
    ViewData["Title"] = "Topics";
}

<h1>Topics</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Author
            </th>
            <th>
                Posts
            </th>
            <th>
                Last post
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(i => i.Posts.Last().DateTime)) {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @item.Title
                    </a>
                </td>
                <td>
                    @item.Posts.First().Author
                </td>
                <td>
                    @item.Posts.Count
                </td>
                <td>
                    @item.Posts.Last().DateTime
                </td>
            </tr>
        }
    </tbody>
</table>
